[submodule "engine"]
	path = engine
	url = https://github.com/bacta/engine.git
[submodule "swg"]
	path = swg
	url = https://github.com/bacta/swg.git
[submodule "iff"]
	path = iff
	url = https://github.com/bacta/iff.git
[submodule "soe"]
	path = soe
	url = https://github.com/bacta/soe.git
[submodule "pre-cu"]
	path = pre-cu
	url = https://github.com/bacta/pre-cu.git
[submodule "tre"]
	path = tre
	url = https://github.com/bacta/tre.git
[submodule "kryo-serialization"]
	path = kryo-serialization
	url = https://github.com/bacta/kryo-serialization.git
[submodule "couchbase-connector"]
	path = couchbase-connector
	url = https://github.com/bacta/couchbase-connector.git
