.idea/
*.iml
### Java template
*.class
dependency-reduced-pom.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)

#Ignore the generated git*.properties files.
git-*.properties

conf/
target/
build/

*.DS_Store

# GNU Global
GPATH
GRTAGS
GTAGS
